{% extends "base.html" %}
{% load bootstrap3 %}




{% block content %}
<h1>{% block title %}Register{% endblock %}</h1>
{# Display a form #}

    <form role="form" action="" method="post" class="form-horizontal">
        {% csrf_token %}
        {% bootstrap_form user_form %}
        {% bootstrap_form profile_form %}
            {% buttons %}
            <button type="submit" class="btn btn-primary">
            {% bootstrap_icon "star" %} Submit
            </button>
            {% endbuttons %}
    </form>


{% endblock %}