{% extends "base.html" %}
{% load bootstrap3 %}
{% load static %}

{% block title %}
    <title>Vote on Crate #{{ box_id }}</title>
{% endblock %}


{% block content %}
    <section id="portfolio" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Vote for your favorite items</h2>
                </div>
            </div>
            <div class="row">
                <!-- TODO: pass in items in the interest group-->
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <!-- TODO: add links-->
                    <a href="" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="{% static 'images/poorcrate.png' %}" class="img-responsive" alt="">
                    </a>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
