{% extends "base.html" %}
{% load static %}

{% block title %}
    <title>CrateUrself</title>
{% endblock %}

{% block content %}
    <!-- Navigation -->
    <nav id="mainNav" class="navbar navbar-default navbar-custom navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="/">CrateUrself</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="page-scroll" href="#crate">Crate</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-heading">Categories</div>

                <section id="crate" class="bg-light-gray">
                    <div class="container">
                        <div class="row">
                            {% for category, subcategory_list in category_map.items %}
                                <!-- category_width is calculated as being 100 / num_subcategories -->
                                <div class="col-md-4 col-sm-6 crate-item" style="width: {{ category_width }}%">
                                    <!-- Make the static images automatic -->
                                    <img src="{% static "Crate/1.png" %}">
                                    <div class="crate-caption">
                                        <h1 style="color:#000000">{{ category.category_name }}</h1>
                                        {% if category.category_description %}
                                            <p class="text-muted">{{ category.category_description }}</p>
                                        {% else %}
                                            <p class="text-muted">No description</p>
                                        {% endif %}
                                    </div>
                                    {% for subcategory in subcategory_list %}
                                        <!-- TODO: I can't use the url template because I can't pass query as the parameter -->
                                        <a class="page-scroll btn btn-primary"
                                           href="category/subcategory/{{ subcategory.subcategory_name }}">
                                            {{ subcategory.subcategory_name }}</a>
                                    {% endfor %}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </header>

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <span class="copyright">Copyright &copy; Databaes 2017</span>
                </div>
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <ul class="list-inline quicklinks">
                        <li><a href="#">Privacy Policy</a>
                        </li>
                        <li><a href="#">Terms of Use</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

{% endblock %}