{% extends "base.html" %}
{% load static %}

{% block title %}
    <title>CrateUrself</title>
{% endblock %}

{% block content %}
    <!-- Navigation -->
    <nav id="mainNav" class="navbar navbar-default navbar-custom navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="/">CrateUrself</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    {% if user.is_authenticated %}
                        <li role="presentation" class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button"
                               aria-haspopup="true"
                               aria-expanded="false">
                                Account <span class="caret"></span></a>
                            <ul class="dropdown-menu dropdown-menu-right">
                                <li style=>
                                    <a style="color:black" href="/account/settings">Account Settings</a>
                                </li>
                                <li style=>
                                    <a style="color:black" href="/payments/subscriptions">Manage Subscriptions</a>
                                </li>
                                <li style=>
                                    <a style="color:black" href="/account/logout">Logout</a>
                                </li>
                            </ul>
                        </li>
                    {% else %}
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><b>Login</b> <span
                                    class="caret"></span></a>
                            <ul id="login-dp" class="dropdown-menu">
                                <li>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <form class="form" role="form" method="post" action="/account/login/"
                                                  accept-charset="UTF-8" id="login-nav">
                                                {% csrf_token %}
                                                <div class="form-group">
                                                    <input type="text" class="form-control" name="username"
                                                           placeholder="Username">
                                                </div>
                                                <div class="form-group">
                                                    <input type="password" class="form-control" name="password"
                                                           placeholder="Password">
                                                </div>
                                                <div class="form-group">
                                                    <button type="submit" class="btn btn-primary btn-block">Sign in
                                                    </button>
                                                </div>
                                            </form>
                                        </div>
                                        <div class="bottom text-center" style="color:#000000;">
                                            New? <a href="/account/signup">
                                            <b style="color:#FFFFFF;"> Sign up here.</b>
                                        </a>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </li>
                    {% endif %}
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-heading">Categories</div>
                <div class="container">
                    <div class="row">
                        <!-- item -->
                        {% for category, subcategory_list in category_map.items %}
                            <!-- category_width is calculated as being 100 / num_subcategories -->
                            <div class="col-md-6 text-center" style="width: {{ category_width }}%">
                                <div class="panel panel-danger panel-pricing">
                                    <div class="panel-image">
                                        {% if category.category_image %}
                                            <img src="{{ category.category_image.url }}">
                                        {% endif %}
                                    </div>
                                    <ul class="list-group text-center">
                                        <li class="list-group-item" style="color:#000000">
                                            <b>{{ category.category_name }}</b></li>
                                        {% if category.category_description %}
                                            <li class="list-group-item">
                                                <p class="text-muted">{{ category.category_description }}</p>
                                            </li>
                                        {% else %}
                                            <li class="list-group-item">
                                                <p class="text-muted">No description</p>
                                            </li>
                                        {% endif %}
                                    </ul>
                                    <div class="panel-footer">
                                        <a class="btn btn-lg btn-block btn-danger page-scroll btn-primary"
                                           href="{% url 'subcategory_list' category_name=category.category_name %}">
                                            Explore {{ category.category_name }}</a>
                                    </div>
                                </div>
                            </div>
                        {% empty %}
                            <b class="col-lg-12 text-center" style="color: black">No Categories to choose from!</b>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </header>

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <span class="copyright">Copyright &copy; Databaes 2017</span>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline social-buttons">
                        <li><a href="https://www.facebook.com/CrateUrself-1587285857978476/">
                            <i class="fa fa-facebook"></i></a>
                        </li>
                        <li><a href="https://twitter.com/?request_context=signup">
                            <i class="fa fa-twitter"></i></a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline quicklinks">
                        <li><a href="#">Privacy Policy</a></li>
                        <li><a href="#">Terms of Use</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

{% endblock %}