{% extends "base.html" %}
{% load static %}

{% block title %}
    <title>CrateUrself</title>
{% endblock %}

{% block content %}
    <!-- Navigation -->
    <nav id="mainNav" class="navbar navbar-default navbar-custom navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="/">CrateUrself</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="page-scroll" href="#crate">Crate</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-heading">Categories</div>

                <section id="crate" class="bg-light-gray">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-4 col-sm-6 crate-item">
                                <img src="{% static "Crate/1.png" %}">
                                <div class="crate-caption">
                                    <h1 style="color:#000000;">Category1</h1>
                                    <p class="text-muted">Surviving on food stamp, but still want cool shit? Look no
                                        further this crate is for you.</p>
                                </div>
                                <a class="page-scroll btn btn-primary" href="{% url 'subcategory' 'test' %}">subcat1</a>
                                <a class="page-scroll btn btn-primary" href="{% url 'subcategory' 'test' %}">subcat2</a>

                            </div>
                            <div class="col-md-4 col-sm-6 crate-item">
                                <img src="{% static "Crate/2.png" %}">
                                <div class="crate-caption">
                                    <h1 style="color:#000000;">Category2</h1>
                                    <p class="text-muted">Website Design</p>
                                </div>
                                <a class="page-scroll btn btn-primary" href="{% url 'subcategory' 'test' %}">subcat1</a>
                                <a class="page-scroll btn btn-primary" href="{% url 'subcategory' 'test' %}">subcat2</a>

                            </div>
                            <div class="col-md-4 col-sm-6 crate-item">
                                <img src="{% static "Crate/3.png" %}">
                                <div class="crate-caption">
                                    <h1 style="color:#000000;">Category2</h1>
                                    <p class="text-muted">Website Design</p>
                                </div>
                                <a class="page-scroll btn btn-primary" href="{% url 'subcategory' 'test' %}">subcat1</a>
                                <a class="page-scroll btn btn-primary" href="{% url 'subcategory' 'test' %}">subcat2</a>


                            </div>
                            <div class="col-md-4 col-sm-6 crate-item">
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </header>

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <span class="copyright">Copyright &copy; Databaes 2017</span>
                </div>
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <ul class="list-inline quicklinks">
                        <li><a href="#">Privacy Policy</a>
                        </li>
                        <li><a href="#">Terms of Use</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

    <!-- crate Modals -->
    <!-- Use the modals below to showcase details about your crate projects! -->

    <!-- crate Modal 1 -->
    <div class="crate-modal modal fade" id="crateModal1" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="close-modal" data-dismiss="modal">
                    <div class="lr">
                        <div class="rl">
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="modal-body">
                                <!-- Project Details Go Here -->
                                <h2>The Food Stamp Crate</h2>
                                <img src="{% static "images/dank.jpg" %}" class="img-responsive img-rounded" alt=""
                                     style="width:304px;height:200px;margin: 0 auto;">
                                <p><strong>Dank</strong></p>
                                <p>Oh dear, look at you and your empty pocket. That's okay just take out a second
                                    mortgage on your home and subscribe to this dank box.</p>
                                <p><strong>What is included?</strong> In this dank crate, you'll receive one dank item
                                    plus two not so dank item.</p>

                                <button type="button" class="btn btn-default" data-dismiss="modal"><i
                                        class="fa fa-times"></i> Close
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- crate Modal 2 -->
    <div class="crate-modal modal fade" id="crateModal2" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="close-modal" data-dismiss="modal">
                    <div class="lr">
                        <div class="rl">
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="modal-body">
                                <h2>The Middle Class Crate</h2>
                                <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
                                <img class="img-responsive img-centered" src="{% static "images/dank.jpg" %}"
                                     alt="">
                                <p><a href="http://designmodo.com/startup/?u=787">Startup Framework</a> is a website
                                    builder for professionals. Startup Framework contains components and complex blocks
                                    (PSD+HTML Bootstrap themes and templates) which can easily be integrated into almost
                                    any design. All of these components are made in the same style, and can easily be
                                    integrated into projects, allowing you to create hundreds of solutions for your
                                    future projects.</p>
                                <p>You can preview Startup Framework <a
                                        href="http://designmodo.com/startup/?u=787">here</a>.</p>
                                <button type="button" class="btn btn-default" data-dismiss="modal"><i
                                        class="fa fa-times"></i> Close Project
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- crate Modal 3 -->
    <div class="crate-modal modal fade" id="crateModal3" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="close-modal" data-dismiss="modal">
                    <div class="lr">
                        <div class="rl">
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="modal-body">
                                <!-- Project Details Go Here -->
                                <h2>The Billgate Crate</h2>
                                <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
                                <img class="img-responsive img-centered" src="{% static "images/dank.jpg" %}" alt="">
                                <p>Treehouse is a free PSD web template built by <a
                                        href="https://www.behance.net/MathavanJaya">Mathavan Jaya</a>. This is bright
                                    and spacious design perfect for people or startup companies looking to showcase
                                    their apps or other projects.</p>
                                <p>You can download the PSD template in this crate sample item at <a
                                        href="http://freebiesxpress.com/gallery/treehouse-free-psd-web-template/">FreebiesXpress.com</a>.
                                </p>
                                <button type="button" class="btn btn-default" data-dismiss="modal"><i
                                        class="fa fa-times"></i> Close Project
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}