{% extends "Crate/base_crate_generic.html" %}

<!-- Used to be able to load the static file -->
<!-- Currently only allowed for the top template class -->
{% load staticfiles %}

{% block nav-bar %}
    <ul class="nav navbar-nav">
        <li><a href="{% url 'crate_home' %}">Available Crates</a></li>
        <li class="active"><a href="{% url 'previous' %}">Previous Crates</a></li>
    </ul>
{% endblock %}

{% block content %}
    <h1 class="title-center">List of previous Crates offered by <em>Databaes</em></h1>
    <br>
    {% if boxes %}

    {% else %}
        <div class="div-sorry">
            <p>No crates currently were previously, sorry!</p>
            <img src="{% static 'Crate/media/sorry.jpg' %}"/>
        </div>
    {% endif %}
{% endblock %}