{% extends "base.html" %}
{% load static %}

{% block title %}
    <title>{{ subcategory }}</title>
{% endblock %}

{% block content %}
    <!-- Navigation -->
    <nav id="mainNav" class="navbar navbar-default navbar-custom navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="/">CrateUrself</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right";>
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#services">Service</a>

                    </li>
                    <li>
                        <a class="page-scroll" href="#crate">Crate</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#explore">Explore</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#team">Team</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Contact</a>
                    </li>
                    <li role="presentation" class="dropdown">
                         <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                             Account <span class="caret"></span></a>
                        <ul class="dropdown-menu dropdown-menu-right" >
                             <li style=>
                                  <a style="color:black" href="/register">Login</a>
                             </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-heading">Interest Groups</div>
                <section id="interestGroup" class="bg-light-gray">
                    <div class="container">
                        <div class="row">
                            {% for interest, interest_items in interest_group.items %}
                                <!-- category_width is calculated as being 100 / num_subcategories -->
                                <div class="col-md-4 col-sm-6 crate-item" style="width: {{ interest_width }}%">
                                    <!-- Make the static images automatic -->
                                    {% if interest.interest_group_image %}
                                        <img src="{{ interest.interest_group_image.url }}">
                                    {% endif %}
                                    <div class="crate-caption">
                                        <h1 style="color:#000000">{{ interest.interest_group_name }}</h1>
                                        {% if interest.interest_group_description %}
                                            <p class="text-muted">{{ interest.interest_group_description }}</p>
                                        {% else %}
                                            <p class="text-muted">No description</p>
                                        {% endif %}
                                    </div>
                                    <ul>
                                        {% for item in interest_items %}
                                            <li style="color: black;">{{ item.item_name }}</li>
                                        {% endfor %}
                                    </ul>
                                    <a class="page-scroll btn btn-primary"
                                       href="{% url 'box_discussion' category_name=category subcategory_name=subcategory interest_group_name=interest.interest_group_name %}">
                                        Click here for {{ interest.interest_group_name }}'s discussion</a>
                                </div>
                                <!-- TODO: Add a vote button -->
                            {% endfor %}
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </header>

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <span class="copyright">Copyright &copy; Databaes 2017</span>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline social-buttons">
                        <li><a href="https://www.facebook.com/CrateUrself-1587285857978476/"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li><a href="https://twitter.com/?request_context=signup"><i class="fa fa-twitter"></i></a>
                        </li>

                    </ul>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline quicklinks">
                        <li><a href="#">Privacy Policy</a>
                        </li>
                        <li><a href="#">Terms of Use</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
{% endblock %}
