{% extends "base.html" %}

{% block style %}
<style>
	.navbar-fixed-top {
		background-color: #222;
		border-color: #E7E7E7;
	}
	
	.navbar-nav > li > a, .navbar-brand {
		padding-top:5px !important; padding-bottom:0 !important;
		height: 30px;
	}
	
	.navbar {min-height:30px !important;}
</style>
{% endblock %}

{% block content %}
{% block nav %}
<!-- Navigation -->
    <nav id="mainNav" class="navbar navbar-default navbar-custom navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="/">CrateUrself</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="page-scroll" href="{% url 'home' %}">Homepage</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
{% endblock %}

{% block body_base %}
{% include "_messages.html" %}
{% block body %}
{% endblock %}
{% endblock %}


{% block scripts %}
{% endblock %}
{% endblock %}